html {
	scroll-behavior: smooth;
}

.margin_top_-10_perc{
	margin-top: -10% !important;
}

.arrow-icon {
	border: solid #fff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#arrow {
	position: relative;
	top: 5px;
	transition: top ease 0.5s;
}

#arrow:hover {
	top: 15px;
}

.white-circle{
	border: 2px solid #fff;
}

.logo img {
  margin: 0;
  max-width: 170px;
  position: relative;
  top: 0px;
  width: 100%;
}

.logo-dark {
  display:none;
  width: 100px;
}

nav.navbar-scrolled .logo-white, .navbar-scrolled nav .logo-white {
	display:none;
}

nav.navbar-scrolled .logo-dark, .navbar-scrolled nav .logo-dark {
  display:block;
  width: 100px;
}

.navbar-scrolled{
	padding-left: 2em !important;
	padding-top: 0 !important;
	padding-right: 2em !important;
	padding-bottom: 0.5em !important;
}

.fs-13{
	font-size: 1.3em !important;
}

.family-photo{
	height: 85vh !important;
	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.2) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/family_portrait.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
}

.ta-l{
	text-align: left;
}

.icon{
	width: 100px;
	height: 100px;
}

#map {
    height: 100%;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}